USE [ShopOnline]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 24/05/2019 16:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[ID_Admin] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[ID_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalog]    Script Date: 24/05/2019 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalog](
	[ID_Catalog] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catalog] PRIMARY KEY CLUSTERED 
(
	[ID_Catalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 24/05/2019 16:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Status] [int] NULL,
	[Created] [date] NULL,
	[ID_User] [int] NULL,
	[MaDonHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 24/05/2019 16:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Created] [date] NULL,
	[ID_User] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 24/05/2019 16:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID_Product] [int] IDENTITY(1,1) NOT NULL,
	[ID_Catalog] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Discount] [int] NULL,
	[Detail] [nvarchar](max) NULL,
	[Created] [date] NULL,
	[ID_Admin] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Specification] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocDonHang]    Script Date: 24/05/2019 16:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocDonHang](
	[ID_Product] [int] NULL,
	[MaDonHang] [int] NULL,
	[soluong] [int] NULL,
	[id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTDonHang]    Script Date: 24/05/2019 16:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTDonHang](
	[MaDonHang] [int] NOT NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[LuuY] [nvarchar](max) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[sodienthoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([ID_Admin], [Name], [UserName], [Password]) VALUES (1, N'admin', N'admin@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[Catalog] ON 

INSERT [dbo].[Catalog] ([ID_Catalog], [Name]) VALUES (1, N'Điện Thoại')
INSERT [dbo].[Catalog] ([ID_Catalog], [Name]) VALUES (2, N'Tablet')
INSERT [dbo].[Catalog] ([ID_Catalog], [Name]) VALUES (3, N'Laptop')
SET IDENTITY_INSERT [dbo].[Catalog] OFF
INSERT [dbo].[DonHang] ([Status], [Created], [ID_User], [MaDonHang]) VALUES (1, CAST(N'2019-05-24' AS Date), 1, 1)
INSERT [dbo].[KhachHang] ([Name], [Email], [Password], [Address], [Phone], [Created], [ID_User]) VALUES (N'Hưng', N'hung@gmail.com', N'123', N'Hà Nội', N'0832060897', CAST(N'2019-05-08' AS Date), 1)
INSERT [dbo].[KhachHang] ([Name], [Email], [Password], [Address], [Phone], [Created], [ID_User]) VALUES (N'trung', N'trung@gmail.com', N'123', N'Hà Nội', N'123213213', CAST(N'2019-05-19' AS Date), 2)
INSERT [dbo].[KhachHang] ([Name], [Email], [Password], [Address], [Phone], [Created], [ID_User]) VALUES (N'321321', N'dsadas@gmail.com', N'123', N'312321', N'321321', CAST(N'2019-05-19' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[ThuocDonHang] ([ID_Product], [MaDonHang], [soluong], [id]) VALUES (3, 1, 2, 2)
INSERT [dbo].[TTDonHang] ([MaDonHang], [TenNguoiNhan], [LuuY], [GioiTinh], [DiaChi], [sodienthoai]) VALUES (1, N'Hưng', N'Vứt đi cũng đc', N'Nam', N'Hà Nội', N'01232060897')
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([ID_User])
REFERENCES [dbo].[KhachHang] ([ID_User])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_admin] FOREIGN KEY([ID_Admin])
REFERENCES [dbo].[admin] ([ID_Admin])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_admin]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Catalog] FOREIGN KEY([ID_Catalog])
REFERENCES [dbo].[Catalog] ([ID_Catalog])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Catalog]
GO
ALTER TABLE [dbo].[ThuocDonHang]  WITH CHECK ADD FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[ThuocDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[TTDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
/****** Object:  StoredProcedure [dbo].[DANGKY]    Script Date: 24/05/2019 16:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[DANGKY] @name nvarchar(50),@email nvarchar(50), @pass nvarchar(50),@address nvarchar(Max),@phone int
AS
BEGIN
	declare @id int
	select @id=MAX(ID_User)  from KhachHang

	INSERT INTO KhachHang(Name,Email,Password,Address,Phone,Created,ID_User)
	VALUES (@name,@email,@pass,@address,@phone,CAST(GETDATE() AS DATE),@id+1)
END
GO
/****** Object:  StoredProcedure [dbo].[HienThiGioHang]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[HienThiGioHang] @ID_user int
as
begin
	select id,thuocdonhang.ID_Product,soluong,product.Name,Price,product.Image,donhang.Status,thuocdonhang.madonhang
	from donhang,thuocdonhang,product
	where donhang.madonhang = thuocdonhang.madonhang
	and product.id_product = thuocdonhang.id_product
	and DonHang.ID_User = @ID_user
end
GO
/****** Object:  StoredProcedure [dbo].[KiemTraSPTrongGioHang]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KiemTraSPTrongGioHang] @id_user INT ,@id_pro INT
AS
BEGIN
		select donhang.id_user,ThuocDonHang.ID_Product,Status from donhang,thuocdonhang
		where donhang.madonhang = thuocdonhang.madonhang
		and Status =0
		and donhang.id_user = @id_user
		and thuocdonhang.id_product = @id_pro
	
END
GO
/****** Object:  StoredProcedure [dbo].[LuuSanPhamVaoGioHang]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LuuSanPhamVaoGioHang] @id_user INT ,@id_pro INT
AS
BEGIN
	
	
		UPDATE Thuocdonhang
		SET SoLuong = SoLuong + 1
		WHERE ID_Product = @id_pro AND MADONHANG IN (SELECT DonHang.MaDonHang FROM ThuocDonHang,DonHang 
										WHERE ThuocDonHang.MaDonHang = DonHang.MaDonHang AND DonHang.ID_User = @id_user)
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[SUASP]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUASP] @id_pro INT,@price int
AS
BEGIN
	UPDATE PRODUCT
	SET Price = @price
	WHERE ID_PRODUCT = @id_pro
END
GO
/****** Object:  StoredProcedure [dbo].[ThanhToan]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThanhToan] @ID_user int
as
begin
	update DonHang
	set DonHang.Status =1
	where ID_User = @ID_user
end
GO
/****** Object:  StoredProcedure [dbo].[ThemSanPhamVaoGioHang]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemSanPhamVaoGioHang] @id_user INT ,@id_pro INT
AS
BEGIN
		declare @id int;
		select @id = MAX(id) from ThuocDonHang
		if(@id is null)
		begin
			set @id =1
		end

		declare @madonhang int
		select @madonhang = MAX(MaDonHang)
		from DonHang
		where DonHang.Status =0

		select @madonhang


		if(@madonhang is null)
		begin
			select @madonhang = MAX(MaDonHang) from DonHang where DonHang.Status =1
			if(@madonhang is null)
			begin
				set @madonhang =1 
			end
			ELSE
			begin
				select @madonhang = MAX(MaDonHang) from DonHang where DonHang.Status =1
				set @madonhang=@madonhang+1
			end
			
		end

		

		if(@madonhang not in (select MaDonHang from DonHang where DonHang.MaDonHang=@madonhang))
		begin
			Insert into DonHang(DonHang.Status,Created,ID_User,MaDonHang)
			values (0,CAST(GETDATE() AS DATE),@id_user,@madonhang)
		end

		Insert into ThuocDonHang(id,ID_Product,MaDonHang,soluong)
		values (@id+1,@id_pro,@madonhang,1)
		
	
END
GO
/****** Object:  StoredProcedure [dbo].[THEMSP]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMSP] @id_admin INT,@id_catalog int,@Name nvarchar(MAX),@price int,@detail nvarchar(MAX),@image nvarchar(MAX)
AS
BEGIN
	declare @id int
	select @id = MAX(ID_PRODUCT) FROM PRODUCT
	INSERT INTO PRODUCT (ID_CATALOG,NAME,PRICE,DISCOUNT,DETAIL,CREATED,ID_ADMIN,IMAGE,SPECIFICATION)
	VALUES (@id_catalog,@Name,@price,0,@detail,GETDATE(),@id_admin,@image,
	N'<ul class="list-group">              <li class="list-group-item"><span>Màn hình</span><div><a href="https://www.thegioididong.com/tin-tuc/cac-cong-nghe-hien-thi-tren-man-hinh-laptop-597377#ledbacklit" target="_blank">LED backlit LCD</a>, 9.7"</div></li>              <li class="list-group-item"><span>Hệ điều hành</span><div>iOS 11.3</div></li>              <li class="list-group-item"><span>CPU</span><div>Apple A10 Fusion, 2.34 GHz</div></li>              <li class="list-group-item"><span>RAM</span><div>2 GB</div></li>              <li class="list-group-item"><span>Bộ nhớ trong</span><div>128 GB</div></li>              <li class="list-group-item"><span>Camera sau</span><div>8 MP</div></li>              <li class="list-group-item"><span>Camera trước</span><div>1.2 MP</div></li>              <li class="list-group-item"><span>Kết nối mạng</span><div>WiFi, 3G, <a href="https://www.thegioididong.com/hoi-dap/4g-la-gi-731757" target="_blank">4G LTE</a></div></li>              <li class="list-group-item"><span>Hỗ trợ SIM</span><div class="isim"><a href="http://www.thegioididong.com/tin-tuc/tim-hieu-cac-loai-sim-thong-dung-sim-thuong-micro--590216#nanosim" target="_blank">Nano Sim</a></div><div class="ibsim"><b class="h">HOT</b><a href="https://www.thegioididong.com/sim-so-dep/viettel?t=33">SIM VIETTEL DATA 7GB/tháng</a>. Giá từ <b class="p">80.000đ</b></div></li>              <li class="list-group-item"><span>Đàm thoại</span><div><a href="https://www.thegioididong.com/tin-tuc/facetime-la-gi--590056" target="_blank">FaceTime</a></div></li>              <li class="list-group-item"><span>Trọng lượng</span><div>478 g</div></li>              <li class="list-group-item"><span>Mức năng lượng tiêu thụ</span><div>32.4 Wh (Khoảng 8600 mAh)</div></li>          </ul>')
END
GO
/****** Object:  StoredProcedure [dbo].[ThongTinDonHang]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThongTinDonHang] @madonhang int,@tennguoinhan nvarchar(100),@sodienthoai nvarchar(20),@luuy nvarchar(50),@gioitinh nvarchar(5),@diachi nvarchar(MAX)
as
begin
	insert into TTDonHang (MaDonHang,TenNguoiNhan,SoDienThoai,LuuY,GioiTinh,DiaChi)
	values(@madonhang,@tennguoinhan,@sodienthoai,@luuy,@gioitinh,@diachi)
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateSanPhamTrongGioHang]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[UpdateSanPhamTrongGioHang] @id_user INT ,@id_pro INT
AS
BEGIN
	
	
		UPDATE Thuocdonhang
		SET SoLuong = SoLuong + 1
		WHERE ID_Product = @id_pro AND MADONHANG IN (SELECT DonHang.MaDonHang FROM ThuocDonHang,DonHang 
										WHERE ThuocDonHang.MaDonHang = DonHang.MaDonHang AND DonHang.ID_User = @id_user)
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateSoLuongSanPhamTrongGioHang]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateSoLuongSanPhamTrongGioHang] @id_user int, @id_pro int, @soluong int
as
begin
	update ThuocDonHang 
	set soluong =@soluong
	where ThuocDonHang.ID_Product = @id_pro 
	and MaDonHang in (select DonHang.MaDonHang
						from ThuocDonHang,DonHang
						where ThuocDonHang.MaDonHang = DonHang.MaDonHang
						and DonHang.ID_User = @id_user
						and DonHang.Status =0)
end
GO
/****** Object:  StoredProcedure [dbo].[XOASP]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOASP] @id_pro INT
AS
BEGIN
	DELETE FROM PRODUCT WHERE ID_PRODUCT = @id_pro
END
GO
/****** Object:  StoredProcedure [dbo].[XOASPGIOHANG]    Script Date: 24/05/2019 16:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOASPGIOHANG] @madonhang INT ,@ID_User int ,@id int
as
begin
	DELETE FROM THUOCDONHANG 
	WHERE id =@id 
	And @ID_User in (select DonHang.ID_User from ThuocDonHang,DonHang
						where ThuocDonHang.MaDonHang = DonHang.MaDonHang
						and Donhang.ID_User =@ID_User)

	if(@madonhang not in (select MaDonHang from THUOCDONHANG))
	begin
		DELETE FROM DonHang 
		where ID_User = @ID_User
		and Donhang.MaDonHang =@madonhang
	end
end
GO
